* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body.dark {
  --bg-primary: #0B1120;
  --bg-surface: #111827;
  --bg-elevated: #1F2937;
  --bg-sidebar: #0F172A;

  --color-primary: #2563EB;
  --color-accent: #10B981;
  --color-accent-soft: #34D399;
  --color-secondary: #0EA5A4;

  --text-primary: #F3F4F6;
  --text-secondary: #9CA3AF;
  --text-muted: #6B7280;

  --border-color: #1E293B;
  --hover: #1E293B;
}

body.light {
  --bg-primary: #F3F6FB;
  --bg-surface: #FFFFFF;
  --bg-elevated: #FFFFFF;
  --bg-sidebar: #EAF0F8;

  --color-primary: #1D4ED8;
  --color-accent: #059669;
  --color-accent-soft: #10B981;
  --color-secondary: #0D9488;

  --text-primary: #0F172A;
  --text-secondary: #475569;
  --text-muted: #64748B;

  --border-color: #E2E8F0;
  --hover: #E2E8F0;
}